<!--Doc Scanner Component-->
<ngx-doc-scanner *ngIf="image"
                 [file]="image"
                 (editResult)="editResult($event)"
                 (exitEditor)="exitEditor()"
                 (error)="onError($event)"
                 (processing)="editorState($event)"
                 [config]="config">
</ngx-doc-scanner>

<!--Drop Zone & File Input-->
<div fxFlex="100" fxLayoutAlign="space-around" style="height: 80vh">
  <div #dropZone
       class="dropZone"
       [ngClass]="{'drop-hover': overZone}"
       (drop)="$event.preventDefault(); dropFile($event)"
       (dragleave)="$event.preventDefault(); overZone = false;"
       (dragover)="$event.preventDefault(); overZone = true;"
       (click)="hiddenInput.click()">
    <div fxLayout="column" fxFlex="100"  fxLayoutAlign="space-around" style="text-align: center">
      <span class="inner-text" style="margin-top: auto; text-align: center">Drop an image here, or click to upload</span>
      <mat-icon color="primary" class="cloud-icon" style="margin-bottom:auto; margin-top: 12px; font-size: 64px;">cloud_upload</mat-icon>
    </div>
  </div>
</div>
<input #hiddenInput type="file" (change)="loadFile($event)" style="display:none" accept="image/*">

<!--Loading Indicator-->
<div style="width: 100vw; height: 100vh; background-color: rgba(0, 0, 0, 0.16); position: fixed; top: 0; left: 0; z-index: 100"
     *ngIf="processing && this.image"
     fxFlex="100"
     fxLayoutAlign="space-around">
  <mat-spinner style="z-index: 500; margin: auto; width: 100px"></mat-spinner>
</div>
